{% extends 'base.html.twig' %}
{# {% form_theme formArticle 'semantic-ui-form-theme.html.twig' %} #}

{% block title %}{{ controller_name }}{% endblock %}


{% block active_blog %}
  {% if editMode %}
    active
  {% endif %}
{% endblock %}


{% block active_create %}
  {% if not editMode %}
    active
  {% endif %}
{% endblock %}

{% block body %}
<div class="ui raised very padded text container segment">
  <h2 class="ui header">Bienvenue sur {{ controller_name }} !</h2>

  {{ form_start(formArticle) }}

  {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
  {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
  {{ form_row(formArticle.category) }}
  {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
  {{ form_row(formArticle.image, {'attr': {'placeholder': "URL de l'image"}}) }}

  <button type="submit" class="ui button">
    {% if editMode %}
    Enregistrer les modifications
    {% else %}
    Ajouter l'article
    {% endif %}
  </button>

  {{ form_end(formArticle) }}

</div>
{% endblock %}
